// variables
$light-color: #f4f4f4;
$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #ab00d1;
$secondary-color: #f37c45;

// function does return sth
@function set-text-color($color) {
  @if(lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// mixin is like function but does not return
@mixin set-bg($color) {
  background-color: $color;
  color: set-text-color($color);
}
