@import 'config';
@import 'utilities';
@import 'buttons';
@import 'mobile';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

.showcase {
  @include set-bg($primary-color);
  height: 500px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 20px;
    }

    a:hover {
      color: $secondary-color;
    }
  }

  a {
    color: set-text-color($primary-color);
  }

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }
  }
}
